.page {
    bottom:0;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
    padding-top: 44px;
}
.hello {
    background:#00D0BC;
    color:#FFFFFF;
}
.index {
}
.page-bg{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.list{
    background:#E59400;
    color:#FFFFFF;
}
.btn-box{
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 16px;
    color: #FFF6F6;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.go-btn{
    font-size: 18px;
    width: 80%;
    padding: 15px 0;
    margin-bottom: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #FF5722;
}
@keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: rotateZ(17deg);
    }
    60% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: translateY(100%) rotateZ(17deg);
    }
}
@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}
@keyframes rotateOutNewspaper {
    to {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}
@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}
@keyframes slideInRight {
    from {
        transform:translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideInUp {
    from {
        transform:translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
.ng-enter {
    z-index: 8888;
}
.ng-leave {
    z-index: 8889;
}
.hello.ng-enter {
    animation: scaleUp 0.5s both ease-in;
}
.hello.ng-leave {
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
}
.list.ng-enter {
    animation:slideInRight 0.5s both ease-in;
}
.list.ng-leave {
    animation:slideOutLeft 0.5s both ease-in;
}
.index.ng-enter {
    animation: scaleUp 0.5s both ease-in;
}
.index.ng-leave {
    animation:slideOutLeft 0.5s both ease-in;
}
