
::-webkit-scrollbar{
		width:8px; height:8px;
	}

::-webkit-scrollbar-track:vertical{
		background:#FF0000;
	}

::-webkit-scrollbar-track-piece{  /* 外 */
		background:#F5F5F5
	}

::-webkit-scrollbar-thumb:vertical{   /* 内 */
		background:#CCCCCC; border-radius:10px;
	}

::-webkit-scrollbar-thumb:vertical:hover{   /*鼠内*/
		background:#666666;
	}

button,a,li,p,span {
    touch-action: manipulation;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
li{
    list-style: none;
}

.page {
    background:#efeff4;
    bottom:0;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
    padding-top: 44px;
}
.index {
	overflow: hidden;
}
.page-bg{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.list {
    color:#000;
    overflow-x: hidden;
}
.result{
    color:#FFFFFF;
    overflow: hidden;
}
.btn-box{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 16px;
    color: #FFF6F6;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.btn-box a,.btn-box a:link,.btn-box a:visited{
    text-decoration: none;
    color: #fff;

}

.go-btn{
    font-size: 18px;
    width: 80%;
    padding: 15px 0;
    margin-bottom: 0px;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #FF5722;
}
.go-btn a,.go-btn a:active,.go-btn a:visited,.go-btn a:link{
    color: #fff;
    display: block;
    text-decoration: none;
}

.top-btn{
    height: 44px;
    width: 44px;
    display: block;
    position: fixed;
    top:0;
    z-index: 99999;
    text-indent: -100em;
}
.top-btn::before{
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 6px;
    background-size: cover;
}
.back-btn{
    left: 0;
}
.back-btn::before{
    left: 6px;
    background-image: url("../imgs/back.png");
}
.sure-btn{
    right: 0;
}
.sure-btn::before{
    right: 6px;
    background-image: url("../imgs/sure.png");
}
/*    list.index    */
.eating-card {
    background-color: #4cd964;
    background-size: cover;
    background-position: center;
    height: 240px;
    width: 48%;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.49);
    position: relative;
    margin: 1%;
    float: left;
    box-sizing: border-box;
}
.eating-card-title {
    opacity: .9;
    background: #4cd964;
    background: -moz-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #4cd964), color-stop(100%, #5ac8fa));
    background: -webkit-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
    background: -o-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
    background: -ms-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
    background: linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cd964', endColorstr='#5ac8fa', GradientType=1 );
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    height: 60px;
    /*background-color:rgba(173, 171, 163, 0.7);*/
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    letter-spacing: 1px;
    word-spacing: 1px;

}
.eating-card-title span{
    display: block;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;/* 省略标记(...)*/
}
.box {
    position: relative;
}
.del-box {
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    text-decoration: none;
    text-underline: none;
}
.del-box::before{
    content: "X";
    display: block;
    font-size: 14px;
    font-family: "Arial",sans-serif;
    color: #fff;
}
.dialog{
    width: 260px;
    height: 140px;
    position: fixed;
    top:50%;
    transform: translateY(-50%) scale(0);
    left: 0;
    right: 0;
    margin: auto;
    background: #f6f6f6;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.49);
    transition: .5s ease transform;
}
.dialog input{
    height: 40px;
    width: 60%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #f6f6f6;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #666;
}
.cofilm-btn{
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}
.ok-btn{
    color: #fff;
    display: block;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #FF5722;
    float: left;
}
.cancel-btn {
    color: #fff;

    display: block;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #FF5722;
    float: right;
}
.add-btn {
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.add-btn span{
    font-size: 60px;
    text-shadow: 1px 5px 8px rgba(0, 0, 0, 0.34);
}
/**result**/
.asi-card {
    background-size: cover;
    background-position: center;
    height: 260px;
    width: 100%;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.49);
    position: relative;
    margin: 0.5%;
    float: left;
    box-sizing: border-box;
    outline: none;
}
.asi-card-title {
    background: #4cd964;
    background: -moz-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #4cd964), color-stop(100%, #5ac8fa));
    background: -webkit-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
    background: -o-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
    background: -ms-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
    background: linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cd964', endColorstr='#5ac8fa', GradientType=1 );
    color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    height: 60px;
    background-color: rgba(61, 61, 62, 0.52);
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
}
.asi-card-title>span {
    letter-spacing: 1px;
    display: block;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;/* 省略标记(...)*/
}
.re-asi-btn {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 15px;
    background-color: #4AA6FF;
    color: #fff;
    text-align: center;
    display: block;
    box-sizing: border-box;
}
@-webkit-keyframes rotateFall {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    20% {
        -webkit-transform: rotateZ(10deg);
        -webkit-animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: rotateZ(17deg);
    }
    60% {
        -webkit-transform: rotateZ(16deg);
    }
    100% {
        -webkit-transform: translateX(-100%) rotateZ(17deg) scale(.6);
    }
}
@-ms-keyframes rotateFall {
    0% {
        -ms-transform: rotateZ(0deg);
    }
    20% {
        -ms-transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        -ms-transform: rotateZ(17deg);
    }
    60% {
        -ms-transform: rotateZ(16deg);
    }
    100% {
        -ms-transform: translateX(-100%) rotateZ(17deg) scale(.6);
    }
}
@-o-keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: rotateZ(17deg);
    }
    60% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: translateX(-100%) rotateZ(17deg) scale(.6);
    }
}
@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform : translateX(-100%);
    }
}
@-ms-keyframes slideOutLeft {
    to {
        -ms-transform: translateX(-100%);
    }
}
@-o-keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}
@-ms-keyframes scaleUp {
    from {
        opacity: 0.3;
        -ms-transform: scale(0.8);
    }
}
@-o-keyframes scaleUp {
    from {
        opacity: 0.3;
        transform: scale(0.8);
    }
}
@-webkit-keyframes scaleDown {
    to {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}
@-ms-keyframes scaleDown {
    to {
        opacity: 0.3;
        -ms-transform: scale(0.8);
    }
}
@-o-keyframes scaleDown {
    to {
        opacity: 0.3;
        transform: scale(0.8);
    }
}
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform :translateX(100%);
    }
    to {
        -webkit-transform : translateX(0);
    }
}
@-ms-keyframes slideInRight {
    from {
        -ms-transform:translateX(100%);
    }
    to {
        -ms-transform: translateX(0);
    }
}
@-o-keyframes slideInRight {
    from {
        transform:translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform :translateY(100%);
    }
    to {
        -webkit-transform : translateY(0);
    }
}
@-ms-keyframes slideInUp {
    from {
        -ms-transform:translateY(100%);
    }
    to {
        -ms-transform: translateY(0);
    }
}
@-o-keyframes slideInUp {
    from {
        transform:translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
.ng-enter {
    z-index: 8888;
}
.ng-leave {
    z-index: 8889;
}
.list.ng-enter {
    animation: scaleUp 0.8s both ease-in;
    -webkit-animation: scaleUp 0.8s both ease-in;
}
.list.ng-leave {
    transform-origin: 0% 0%;
    animation: slideOutLeft .8s both ease-in;
    -webkit-animation: slideOutLeft .8s both ease-in;
}
.result.ng-enter {
    animation:scaleUp 0.8s both ease-in;
    -webkit-animation:scaleUp 0.8s both ease-in;
}
.result.ng-leave {
    animation:slideOutLeft 0.8s both ease-in;
    -webkit-animation:slideOutLeft 0.8s both ease-in;
}
.index.ng-enter {
    animation: scaleUp 0.8s both ease-in;
    -webkit-animation: scaleUp 0.8s both ease-in;
}
.index.ng-leave {
    animation:slideOutLeft 0.8s both ease-in;
    -webkit-animation:slideOutLeft 0.8s both ease-in;
}
